:root {
  --color-blue: #7091f5;
  --color-green: #04aa6d;
  --color-red: #f31559;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: rgb(77, 77, 77);
  font-size: 24px;
}

header {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #04aa6d;
}

h1 {
  font-size: 3em;
  color: white;
  text-align: center;
}

header a {
  color: white;
}

.content-wrapper > * {
  padding: 1em;
}

.content-wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0 1em;
}

header h1 {
  text-align: center;
}

#summary {
  display: flex;
  gap: 1em;
}

#total-income {
  border: 2px solid var(--color-green);
  & * {
    color: var(--color-green);
  }
}

#total-expenses {
  border: 2px solid var(--color-red);
  & * {
    color: var(--color-red);
  }
}

#total-balance {
  border: 2px solid var(--color-blue);
  & * {
    color: var(--color-blue);
  }
}

input {
  border-width: 2px;
}

.input-expense {
  border: 2px solid var(--color-red);
}

.input-income {
  border: 2px solid var(--color-green);
}

#title-input-box {
  border: 2px solid var(--color-blue);
}

input#income {
  cursor: pointer;
  border: 1px solid var(--color-green);
  color: var(--color-green);
  background-color: white;
}

input#income:hover {
  box-shadow: 0 0 3px 0 var(--color-green);
}

input#expense {
  cursor: pointer;
  border: 1px solid var(--color-red);
  color: var(--color-red);
  background-color: white;
}

input#expense:hover {
  box-shadow: 0 0 3px 0 var(--color-red);
}

.total-transaction {
  width: 100%;
  padding: 0.5em;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border: 2px solid rgb(156, 156, 156);
  border-radius: 20px;
}

#transaction-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

#transaction-input-container > * {
  padding: 0.2em;
  border-radius: 10px;
}

.transaction-input {
  width: 100px;
}

.hidden {
  display: none !important;
}

#transaction-input-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transaction-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.transaction-form > * {
  padding: 0.2em;
  border-radius: 10px;
}

.entries-log {
  display: flex;
}

.entry {
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr auto auto;
  gap: 0.5em;
  margin-bottom: 1em;
  padding: 0.4em;
  border: 1px solid rgba(207, 207, 207, 0.555);
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(128, 128, 128, 0.61);
}

.income {
  color: var(--color-green);
}

.expense {
  color: var(--color-red);
}

.amount {
  text-align: right;
  padding-right: 3em;
}

.edit {
  text-align: right;
  text-decoration: none;
  cursor: pointer;
  padding: 0 10px;
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
  background-color: white;
  border-radius: 5px;
  display: grid;
  align-content: center;
}

.edit:hover {
  box-shadow: 0 0 2px var(--color-blue);
}

.delete {
  background: none;
  padding: 0 10px;
  border: 1px solid var(--color-red);
  color: var(--color-red);
  cursor: pointer;
  border-radius: 5px;
}

.delete:hover {
  box-shadow: 0 0 2px var(--color-red);
}

.signup-form {
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form input {
  padding: 0.2em;
  width: 500px;
}

.text-align-center {
  text-align: center;
}
